.photo {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 30px;
}

.photo img {
    width : 55%;
    height : 100%;
}

form {
    position: absolute;
    top: 21%;
    margin-left: 41%;
    
}

h2 {
    text-align: center;
    text-decoration: underline;
}