.photo {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 30px;
}

.div_img {
    padding: 0% 20%;
}

.div_img img {
    width : 100%;
    height : 100%;
    border-radius: 30px;
}

form {
    position: absolute;
    top: 35%;
    margin-left: 41.5%;
    background-color: lightblue;
    padding: 10px 10px;
    border-radius: 10px;
    
}

h2 {
    text-align: center;
    text-decoration: underline;
}

